@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #339935;
  --bg-cream: #fffcf4;
  --bg-light: #f9f9f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
